// Custom Colors //
$backgroundGrey: #242e38;
$clear: #00000000;
$darkish: #42484e;
$ethereum: #434875;
$like: #00e200;
$royalEthereum: #4d31ce;
$tweetDark: #15202b;
$westworld: #f45d22;
$fpi247: rgb(180, 0, 0);