// Custom Colors
$clear: #00000000 !important;
$ethereum: #434875 !important;
$ethereum-hover: #626890 !important;
$like: #00e200 !important;

// Bootstrap Colors //
$dark: #343a40 !important;

// Not Modified from Bootstrap //
$grey: #42484e !important;
$white: #ffffff !important;