// [IMPORT] Personal //
@import './sass-variables.scss';

* { border-radius: 0 !important; }

body {
	background-color: $darkish;
	background-size: 16px 16px;
	background-position: 0 0, 50px 50px;
	background-image: radial-gradient(#7e7e7e 6%, transparent 12%);
}


.bg-darkish { background-color: $darkish; }